body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

h1, h2, h3, h4, h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: x-large;
}

h2, h3, h4, h5 {
    font-size: large;
}